.logo-icon{
  float: left;
  background-color:#e7e9f0; 
  font-size: 02em;
  height: 10vmin;
  width: 08vmin;
  margin: 10px 10px 10px 10px ;
  padding: 5px 5px 5px 5px ;
}

.App-header{
  /* background-color: #020f29; */
  background: #0f1228;
  position: relative;
  min-height: 15vh;
  font-size: calc(10px + 2vmin);
}

.title{
  position: relative;
  font-size: 20px;
  font-family: inherit;
  left: 10px;
  color: white;
  padding-top: 10px;
}

.subtitle{
  position: relative;
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
  color: white;
  left: 10px;
}

.para{
  position: relative;
  color: white;
  font-size: 12px;
  left: 10px;
  }

.user-photo{
  float: right;
  height: 08vmin;
  width: 08vmin;
  background-color:#e7e9f0;
  margin: 10px 10px 10px 10px ;
}

